body, html {
	height: 100%;
	font-family: 'Noticia Text', serif;
}

#GameBoard{
	width: 100%;
	height: 100%;
	background: skyblue;
	display: table;
	overflow: hidden;
}

#CharacterPanel{
	display: table-cell;
	vertical-align: middle;
	padding-left: 80px;
}

#row1, #row2{
	float: left;
}

#row1 .PartyMember:last-child, #row2 .PartyMember:last-child{
	margin-bottom: 0;	
}

#row2{
	margin-left: 100px;
	margin-top: 90px;
}

.PartyMember{
	height: 180px;
	width: 140px;
	background: green;
	background-position: top center;
	background-size: cover;
	margin-bottom: 40px;
	position: relative;
	left: 0;
}

.PartyMemberOff{
	display: none;
}

.PartyMember ul
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background:url('../images/ui/MenuNoiseTexture.png');
	border-style: solid; border-width: 7px; -moz-border-image: url('../images/ui/MenuBorder.png') 7 repeat; -webkit-border-image: url('../images/ui/MenuBorder.png') 7 repeat; -o-border-image: url('../images/ui/MenuBorder.png') 7 repeat; border-image: url('../images/ui/MenuBorder.png') 7 repeat;
	display:none;
	left:100%;
	list-style: none;
	margin: 0;
	padding: 12px 8px;
	position:absolute;
	top:0;
	width: 180px;
	z-index: 1000;
	color: #fff;
	text-shadow: 1px 1px 2px #000000;
	overflow: hidden;
	border-radius: 4px;
}

.PartyMember.Open > ul
{
	display:block;
}

.PartyMember ul li{
	margin-bottom: 10px;
	font-weight: bold;
	display: block;
	cursor: pointer;
	padding: 2px 0;
	text-indent: 8px;
}

.PartyMember ul li:last-child{
	margin-bottom: 0;
}

.PartyMember ul li.Used{
	text-decoration: line-through;
	color: red;
}

.PartyMember ul li:hover{
	background: yellow;
}

.FlavorText{
	background: beige;
	display: none;
	left: -50%;
	padding: 6px;
	position: absolute;
	text-align: center;
	top: 100%;
	width:300px;
	z-index: 2000;
}

.FlavorTextOn{
	display: block;
}

#EnemyPanel{
	display: table-cell;
	vertical-align: middle;
}

#row3 .Enemy:last-child{
	margin-bottom: 0;	
}

.Enemy{
	height: 180px;
	width: 140px;
	background: red;
	margin-bottom: 40px;
}